@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*  Orbitron font */
* {
  font-family: 'Orbitron', sans-serif;
}

/* Custom animations */
@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  .animate-spin-reverse {
    animation: spin-reverse 2s linear infinite;
  }
  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .animate-pulse-light {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .animate-ping-slow {
    animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  .animate-progress {
    width: 100%;
    animation: progress 2s infinite linear;
  }
}

/* Custom keyframes */
@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}